<form action="/auth/login" method="POST">
   <div>
      <label>Email</label>
      <input type="text" name="email">
      <label> Password</label>
      <input type="password" name="password">
      <input type="hidden" name="targetUrl" value="{{targetUrl}}">
   </div>
   <div>
      <button type="submit">Login</button>
   </div>
</form>

<div>
   You don't have an account yet ?
</div>
<div>
   <button><a href="/auth/signup?targetUrl={{targetUrl}}">Sign up</a></button>
</div>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}
