<form action="/auth/login" method="POST">
   <label> email
      <input type="text" name="email">
   </label>
   <label> Password
      <input type="password" name="password">
   </label>
   <input type="hidden" name="targetUrl" value="{{targetUrl}}">

   <button type="submit">Login</button>
</form>

<div>
   You don't have any account yet ?
</div>
<div>
   <button><a href="/auth/signup">Sign up</a></button>
</div>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}
