<form action="/auth/login" method="POST">
   <label> email
      <input type="text" name="email">
   </label>
   <label> Password
      <input type="password" name="password">
   </label>

   <button type="submit">Login</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}
