<form action="/auth/signup" method="POST">
   <label> email
      <input type="text" name="email">
   </label>
   <label> Username
      <input type="text" name="username">
   </label>
   <label> Password
      <input type="password" name="password">
   </label>
   <label> pictureUrl
      <input type="text" name="pictureUrl">
   </label>

   <button type="submit">Sign Up</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}

{{!-- const userSchema = new Schema(
  {
    email: {
      type: String,
      unique: true,
    },
    username: String,
    password: String,
    pictureUrl: String,
    isAdmin: Boolean,
  },
  {
    // this second object adds extra properties: `createdAt` and `updatedAt`
    timestamps: true,
  }
); --}}