<form action="/auth/signup" method="POST" enctype="multipart/form-data">
   <div>
      <label> Email </label>
      <input type="text" name="email">
      <label> Username </label>
      <input type="text" name="username">
      <label> Password
      <input type="password" name="password">
      <label for="coverPicture">Profile picture</label>
            <input type="file" name="coverPicture" id="coverPicture">
            <input type="hidden" name="targetUrl" value="{{targetUrl}}">
   </div>
   <div>
      <button type="submit">Sign Up</button>
   </div>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}

{{!-- const userSchema = new Schema(
  {
    email: {
      type: String,
      unique: true,
    },
    username: String,
    password: String,
    pictureUrl: String,
    isAdmin: Boolean,
  },
  {
    // this second object adds extra properties: `createdAt` and `updatedAt`
    timestamps: true,
  }
); --}}