<section class="indexSection">
    <h4>Challenges!</h4>
    <div class="row">
        <a href="/challenge/create" class="paper-btn">Create a challenge</a>
    </div>
    <div class="row">
        <a href="/challenge/list" class="paper-btn">List of Challenges</a>
    </div>
    <h4>How good are you?</h4>
    <div class="row">
        <a href="#" class="paper-btn">Leader Board</a>
    </div>

    <h4>Customize stuffs</h4>
    <div class="row">
        <a href="/games" class="paper-btn">List of games</a>
        <a href="/leagues" class="paper-btn">List of leagues</a>
    </div>
</section>