<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script> 
  </head>

  <body>
  <nav>
      <a href="/auth/signup">signup</a>
      <a href="/auth/login">login</a>
      <a href="/auth/logout">logout</a>
      <p> you are logged in as {{user.username}}</p>
      <div>
        <a href="/games">List of games</a>
      </div>
      <div>
        <a href="/leagues">List of leagues</a>
      </div>
  </nav>
  
    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>