<html lang="en">


  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="icon" href="/images/beer-icon.png">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/js/layout.js"></script> 
  </head>

  <body>
  <nav>
    <div class="topnav" id="myTopnav">
      <a class = "menu-icon" href="/"><img  src="/images/beer-icon.png" alt="beer icon"></a>
      <a href="/profile">Profile</a>
      <a href="/challenge/create">Create challenge</a>
      <a href="/challenge/list">List challenges</a>
      <a href="/boards/main">Leader Board</a>
      <a href="/auth/signup">Signup</a>
      <a href="/auth/login">Login</a>
      <a href="/auth/logout">Logout</a>
      
      <a id ="menuButton" class="icon"> Menu</a>
    </div>
  </nav>
    <div class = "indexSection">
      {{{body}}}
    </div>
    <script src="/js/script.js"></script>
  </body>

</html>