<h4> Pick a league </h4>

{{games}}
<form action="/challenge/create" method="GET">
        <select name="league">
            {{#each leagues}}
                <option value="{{id}}">{{name}}</option>
            {{/each}}
        </select>
   <button type="submit">Create Your Challenge</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}


{{!-- const challengeSchema = new Schema(
  {
    contenders: [{ type: Schema.Types.ObjectId, ref: "User", required: true }],
    leagues: [{ type: Schema.Types.ObjectId, ref: "League" }],
    game: { type: Schema.Types.ObjectId, ref: "Game", required: true },
    winners: [{ type: Schema.Types.ObjectId, ref: "User" }],
    stake: { type: Number, min: 0, required: true },
    isCompleted: { type: Boolean },
  },
  {
    // this second object adds extra properties: `createdAt` and `updatedAt`
    timestamps: true,
  }
); --}}
