<h4>Pick a league</h4>
<form action="/challenge/list" method="GET">
        <select name="league">
            {{#each leagues}}
                <option value="{{id}}">{{name}}</option>
            {{/each}}
        </select>
   </label>
   <button type="submit">List challenges</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}

