{{#with league}}
<h1>Invite your friends !</h1>
<div>
    Send this key to your friends so they can join the league : {{inviteKey}}
</div>
<div>
    Share this link for your friends to join the league : <a href="/leagues/join/{{inviteKey}}">Invitation link</a>
</div>
{{/with}}
<div><a href="/leagues">Return to the list of Leagues</a></div>